<!-- Inicio del Footer -->
<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>Activata en cualquier lugar</h3>
            <p>Gracias por visitar el sitio web de objetivos de Activate en cualquier lugar. Conéctate con nosotros a través de las redes
                sociales. <br /> <br /> Espere un momento, pronto se enumerarán más datos analisádos. Hasta
                entonces sigue visitando. ¡Conéctate con nosotros a través del chat en vivo!
            </p>
        </div>

        <div class="box">
            <h3>Navegacion</h3>
            <a href="#home"><i class="fas fa-chevron-circle-right"></i> Inicio</a>
            <a href="#about"><i class="fas fa-chevron-circle-right"></i> Objetivos</a>
            <a href="#users"><i class="fas fa-chevron-circle-right"></i> Usuarios</a>
            <a href="#tours"><i class="fas fa-chevron-circle-right"></i> Planificacion</a>
        </div>

        <div class="box">
            <h3>Contactos</h3>
            <p><a href="tel:+541141761096"><i class="fas fa-phone"></i>
                    +54 (11) 4176-1096
                </a></p>
            <p><a href="mailto:doriass.f@gmail.com"><i class="fas fa-envelope"></i>
                    doriass.f@gmail.com
                </a></p>
            <p> <i class="fas fa-map-marked-alt"></i>Mar del Plata, Provincia Buenos Aires - B7600FYA</p>
            <div class="share">

                <a href="https://www.linkedin.com/in/desarrrolladorfrontendbackend/" class="fab fa-linkedin" target="_blank"></a>
                <a href="https://github.com/F-DoriAss" class="fab fa-github" target="_blank"></a>
                <a href="mailto:doriass.f@gmail.com" class="fas fa-envelope" target="_blank"></a>
            </div>
        </div>
    </div>

    <h1 class="credit">Diseño realizado<i class="fa fa-heart pulse"></i>por <a
            href="https://www.linkedin.com/in/desarrolladorfrontendbackend"> DoriAss Desing</a></h1>

</section>

<!--Inicio de Script Tawk.to(apirest)-->
<script type="text/javascript">
    var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
    (function () {
        var s1 = document.createElement("script"),
            s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = 'https://embed.tawk.to/60ed75a3649e0a0a5ccbf5d0/1fafp7262';
        s1.charset = 'UTF-8';
        s1.setAttribute('crossorigin', '*');
        s0.parentNode.insertBefore(s1, s0);
    })();
</script>
<!--Fin de Script Tawk.to chatonline-->

<!-- Fin del Footer -->