<!-- Inicio del Footer -->
<section class="footer">



    <h1 class="credit">Diseño realizado<i class="fa fa-heart pulse"></i>por <a
            href="https://www.linkedin.com/in/desarrolladorfrontendbackend"> F.D.A D.</a></h1>

</section>


<!-- Fin del Footer -->