<!-- inicio del nav -->
<header>
    <a href="/" class="logo"><i class='fab fa-blogger-b fa-3x'></i> <i class='fab fa-adn fa-1x'></i> &nbsp  &nbsp UNMdP Medicina</a>

    <div id="menu" class="fas fa-bars"></div>
    <nav class="navbar">
        <ul>
            <li><a class="active" href="/">Inicio</a></li>
            <li><a href="#about">Nosotros</a></li>
            <li><a href="#users">Usuarios</a></li>
            <li><a href="#tours">Recorridos</a></li>
        </ul>
    </nav>
</header>
<!-- fin del nav-->