<%- layout('layouts/boilerplate') %>
    <!--loader -->
    <div class="loader-container">
        <img draggable="false" src="/images/preloader.gif" alt="">
    </div>

     <!--Inicio de seccion INICIO -->
     <section class="home" id="home">
        <div class="content">
            <h3>Activate<br/>en  <span>cualquier lugar </span></h3>
            <p>disfrutá de <span class="typing-text"></span></p>
            <a href="#about" class="btn"><span>más información</span>
                <i class="fas fa-arrow-circle-up"></i>
            </a>
        </div>
        <div class="image">
            <img draggable="false" class="tilt" src="images/unmdp/logo-unmdp-med.png" alt="">
        </div>
    </section>
    <!-- Fin de INICIO -->


    <!-- Inicio de seccion NOSOTROS -->
    <section class="about" id="about">
        <h2 class="heading"><i class="fas fa-user-alt"></i> Nuestros <span>Objetivos</span></h2>

        <div class="row">

            <div class="image">
                <img draggable="false" class="tilt" src="images/unmdp/folleto-unmdp-cort.jpeg" alt="ecobicis-buenos-aires">
            </div>
            <div class="content">
                <h3>Somos #ActivateEnCualquierLugar</h3>
                <span class="tag">Análisis de los objetivos</span>
                <p class="descriptionP">Entre los objetivos de la gimnasia laboral se encuentran la prevención de accidentes laborales,
                     combatir las enfermedades profesionales, como la ansiedad y el estrés, y aumentar las capacidades funcionales de los empleados. Se espera que el proyecto despierte el interés en formas de prevención del dolor y las enfermedades profesionales derivadas de movimientos repetitivos en el lugar de trabajo,
                     así como su replicación con la consecuente reducción de enfermedades profesionales. 
                </p>

                <div class="box-container">
                    <div class="box">
                        <p><span> Materia : </span> Promocion de la salud</p>
                        <p><span> Integrantes : </span>Ana Carolina, Fulvio, Karla, Sabrina y Shayenne </p>
                    </div>
                    <div class="box">
                        <p><span> Ubicación : </span> Mar del Plata, Provincia de Buenos Aires </p>
                    </div>
                </div>

                <!-- BTN descarga de datos y integrantes-->
                <!-- <div class="resumebtn">
                    <a href="/member" class="btn"><span>Ver integrantes</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div> -->
                <div class="resumebtn">
                    <a href="/" class="btn"
                        download="/download/datosEcobici.zip"><span>Descargar proyecto</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Fin de seccion NOSOTROS -->

 
<!-- Inicio de seccion de USUARIOS -->
<section class="users" id="users">

    <h2 class="heading"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 640 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192h42.7c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0H21.3C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7h42.7C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3H405.3zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352H378.7C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7H154.7c-14.7 0-26.7-11.9-26.7-26.7z"/></svg> +620.000 Usuarios <span>de BA Ecobici</span></h2>

    <div class="container">
        <div class="row">
            <div class="col">

                <div class="bar">
                    <div class="info">
                        <i class="far fa-hourglass">
                            <span>2015 - </span><i class="fa-regular fa-user"></i><span>40.397</span></i>
                        <span>+06,44% |<br>= 06,44%</span>
                    </div>
                    <div class="line dosmilquince"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="far fa-hourglass">
                            <span>2016 - </span><i class="fa-regular fa-user"></i><span>39.482</span></i>
                        <span>+06,30% |<br>= 12,74%</span>
                    </div>
                    <div class="line dosmildieciseis"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fas fa-hourglass-start">
                            <span>2017 - </span><i class="fa-regular fa-user"></i><span>58.222</span></i>
                        <span>+09,30% |<br>= 22,04%</span>
                    </div>
                    <div class="line dosmildiecisiete"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fas fa-hourglass-start">
                            <span>2018 - </span><i class="fa-regular fa-user"></i><span>56.182</span></i>
                        <span>+08,96% |<br>= 31,00%</span>
                    </div>
                    <div class="line dosmildieciocho"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fas fa-hourglass-half">
                            <span>2019 - </span><i class="fa-regular fa-user"></i><span>83.600</span></i>
                        <span>+13,34% |<br>= 44,34%</span>
                    </div>
                    <div class="line dosmildiecinueve"></div>
                </div>

            </div>

            <div class="col">
                <div class="bar">
                    <div class="info">
                        <i class="fas fa-hourglass-half">
                            <span>2020 - </span><i class="fa-regular fa-user"></i><span>107.166</span></i>
                        <span>+17,10% |<br>= 61,44%</span>
                    </div>
                    <div class="line dosmilveinte"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fas fa-hourglass-end">
                            <span>2022 - </span><i class="fa-regular fa-user"></i><span>105.927</span></i>
                        <span>+16,90% |<br>= 91,39%</span>
                    </div>
                    <div class="line dosmilveitidos"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fas fa-hourglass-end">
                            <span>2021 - </span><i class="fa-regular fa-user"></i><span>81.527</span></i>
                        <span>+13,05% |<br>= 74,49%</span>
                    </div>
                    <div class="line dosmilveintiuno"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fas fa-hourglass">
                            <span>2023 - </span><i class="fa-regular fa-user"></i><span>53.929</span></i>
                        <span>+08,61% | <br>= 100%</span>
                    </div>
                    <div class="line dosmilveintitres"></div>
                </div>

                <div class="bar">
                    <div class="info">
                        <i class="fas fa-hourglass">
                            <span>Jul 2023 - </span><i class="fa-regular fa-user"></i><span>626,432</span></i>
                        <span>62,64% |<br>1M</span>
                    </div>
                    <div class="line yearstot"></div>
                </div>


            </div>
        </div>
    </div>
</section>
<!-- Fin de seccion de USUARIOS -->



      <!-- Inicio de seccion de RECORRIDOS -->
      <section class="tours" id="tours">

        <h1 class="heading"><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 576 512"><!--! Font Awesome Free 6.4.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M408 120c0 54.6-73.1 151.9-105.2 192c-7.7 9.6-22 9.6-29.6 0C241.1 271.9 168 174.6 168 120C168 53.7 221.7 0 288 0s120 53.7 120 120zm8 80.4c3.5-6.9 6.7-13.8 9.6-20.6c.5-1.2 1-2.5 1.5-3.7l116-46.4C558.9 123.4 576 135 576 152V422.8c0 9.8-6 18.6-15.1 22.3L416 503V200.4zM137.6 138.3c2.4 14.1 7.2 28.3 12.8 41.5c2.9 6.8 6.1 13.7 9.6 20.6V451.8L32.9 502.7C17.1 509 0 497.4 0 480.4V209.6c0-9.8 6-18.6 15.1-22.3l122.6-49zM327.8 332c13.9-17.4 35.7-45.7 56.2-77V504.3L192 449.4V255c20.5 31.3 42.3 59.6 56.2 77c20.5 25.6 59.1 25.6 79.6 0zM288 152a40 40 0 1 0 0-80 40 40 0 1 0 0 80z"/></svg> Recorridos <span>Frecuentes</span></h1>

        <p class="qoute">Top 3</p>

        <div class="box-container">

            <div class="box">

                <div class="image">
                    <a href="https://www.google.com/maps/d/u/0/viewer?mid=1xhTA1SMnFVKcBpIQs98EOqSffsnXor-t&ll=-34.582094420253874%2C-58.412128165815695&z=14" class="btn">
                    <img draggable="false" src="/images/tours/toursPalermo.png" alt="Circuito 1">
                </div>
                <div class="content">
                    <h3>Palermo Soho | Pedaleando BA 5 | Turismo en barrios</h3>
                    <p>Av.Sarmiento | Av.Libertador | Av.Coronel Diaz | Av.Gorriti - CABA</p>
                    <h4> 47,387 vistas | Publicado en 26 de agosto de 2022</h4>
                </div>
                <span>Ver Mas</span>
            </a>
            </div>

            <div class="box">
                <div class="image">
                    <a href="https://www.google.com/maps/d/u/0/viewer?mid=1skQ3n6e6qVZs1OeMqXNE2glLNZ8HVXA8&ll=-34.59117375338227%2C-58.38707975000001&z=14" class="btn">
                    <img draggable="false" src="/images/tours/tourRecoleta.png" alt="Circuito 2">
                </div>
                <div class="content">
                    <h3>Recoleta y Retiro | Pedaleando BA 6 | Turismo en barrios</h3>
                    <p>Av.Libertador | Suipacha | Av.Cordoba | Azcuénaga - CABA</p>
                    <h4> 43,077 vistas | Publicado en 26 de agosto de 2022 </h4>
                </div>
                <span>Ver Mas</span>
                </a>
            </div>

            <div class="box">
                <div class="image">
                    <a href="https://www.google.com/maps/d/u/0/viewer?mid=1ILNWYEj5pAf5uzZHO3FDureWbLqWDgRi&ll=-34.627505966189084%2C-58.36495240109263&z=16" class="btn">
                    <img draggable="false" src="/images/tours/tourSanTelmo.png" alt="Circuito 3">
s                </div>
                <div class="content">
                    <h3>San Telmo - La Boca | Pedaleando BA 7 | Turismo en barrios</h3>
                    <p>Av.9 de Julio | Irala | Gral. Lamadrid | Av. Brasil - CABA</p>
                    <h4>15,315 vistas | Publicado en 26 de agosto de 2022</h4>
                </div>
                <span>Ver Mas</span>
                </a>
            </div>

        </div>
    </section>
    <!-- Fin de seccion de RECORRIDOS -->

   
    <!--btn scroll-sube -->
    <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
    <!-- scroll atras -->