<%- layout('layouts/boilerplate') %>
    <!--loader -->
    <div class="loader-container">
        <img draggable="false" src="/images/progress.gif" alt="">
    </div>

     <!--Inicio de seccion INICIO -->
     <section class="home" id="home">
        <div class="content">
            <h3>Activate<br/>en  <span>cualquier lugar </span></h3>
            <p>disfrutá de <span class="typing-text"></span></p>
            <a href="#about" class="btn"><span>más información</span>
                <i class="fas fa-arrow-circle-up"></i>
            </a>
        </div>
        <div class="image">
            <img draggable="false" class="tilt" src="images/unmdp/logo-unmdp-med.png" alt="">
        </div>
    </section>
    <!-- Fin de INICIO -->


    <!-- Inicio de seccion NOSOTROS -->
    <section class="about" id="about">
        <h2 class="heading"><i class="fas fa-user-alt"></i> Nuestros <span>Objetivos</span></h2>

        <div class="row">

            <div class="image">
                <img draggable="false" class="tilt" src="images/unmdp/unmdp-corte.png" alt="ecobicis-buenos-aires">
            </div>
            <div class="content">
                <h3>Somos <span style="color: green;">#</span>ActivateEnCualquierLugar</h3>
                <span class="tag">Análisis de los objetivos</span>
                <p class="descriptionP">Entre los objetivos de la gimnasia laboral se encuentran la prevención de accidentes laborales,
                     combatir las enfermedades profesionales, como la ansiedad y el estrés, y aumentar las capacidades funcionales de los empleados. Se espera que el proyecto despierte el interés en formas de prevención del dolor y las enfermedades profesionales derivadas de movimientos repetitivos en el lugar de trabajo,
                     así como su replicación con la consecuente reducción de enfermedades profesionales. 
                </p>

                <div class="box-container">
        
                    <div class="box">
                        <p><span> Ubicación : </span> Mar del Plata, Provincia de Buenos Aires </p>
                    </div>
                </div>

                <!-- BTN descarga de datos y integrantes-->
                <!-- <div class="resumebtn">
                    <a href="/member" class="btn"><span>Ver integrantes</span>
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div> -->
                <div class="resumebtn">
                    <a href="/" class="btn"
                        download="/download/datosEcobici.zip"><span>Descargar proyecto</span>
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <!-- Fin de seccion NOSOTROS -->

      <!-- Inicio de seccion de RECORRIDOS -->
      <section class="tours" id="tours">

        <h1 class="heading"><i class="fas fa-heartbeat"></i> Planificacion de <span>Ejercicios</span></h1>

        <p class="qoute">Rutina</p>

        <div class="box-container">

            <div class="box">


                <div class="image">
                    <img draggable="false" src="/images/unmdp/undmp--.png" alt="Ejercicio-01">
                </div>

            </div>
            </div>

        </div>
    </section>
    <!-- Fin de seccion de RECORRIDOS -->

   
    <!--btn scroll-sube -->
    <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>
    <!-- scroll atras -->