<%-layout('layouts/boilerplate')%>
    <head>
            <!-- Stylesheet del MAPA-->
    <link rel="stylesheet" href="/css/maps.css">
    </head>
    
    <body>
            <!-- GoogleMaps scrip -->
    <script src="/js/datosMapa.js"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBJVX19Sd_BpTL_Cv9BTXhtJPfWqbsZFA&map_ids=f546a465f7f192b1&callback=initMap"></script>
    <script src="/js/mapa.js"></script>

    <div class="listSeanson">
        <h3>Estaciones BA Ecobici</h3>
        <div class="nameSeanson" id="nameSeanson"></div>
    </div>
    <div id="map"></div>

    </body>


